#listed-comics {
    margin: 2rem;
}
.comic-card {
    background-color: white;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
}
.comic-image {
    justify-self: center;
    height: 12rem;
    width: auto;
  }

#search-bar{
    text-align: center;
}
body{
    background: rgba(255, 105, 105, 0);
}

html{
    background: rgba(255, 105, 105, 0.829);
}
h3{
    font-family: "Comic Sans MS";
}
h1 {
    background-color: rgb(204, 203, 238);
    padding: 80px;
    text-align: center;
    color: red;
}