

body{
    background: rgba(255, 105, 105, 0);
}
html{
background: rgba(255, 105, 105, 0.829);
}
h1 {
    background-color: rgb(204, 203, 238);
    padding: 80px;
    text-align: center;
    color: red;
}